@import url(reset.css);

.navigation {
    margin: 0;
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    padding: 25px 30px;
}

.navigation-list-about {
    display: flex;
}

.navigation-list-projects {
    display: flex;
}

.navigation-list-management {
    display: flex;
}

.search-icon {
    width: 24px;
    height: 24px;
}

.login-icon {
    width: 18px;
    height: 20px;
}

.news {
    display: flex;
}

.news-card {
    width: 703px;
    height: 393px;
}